@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$blue-palette);

.topic-list {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 1rem;

  box-shadow: none;
  border-radius: 15px;
  background: mat.get-color-from-palette($my-palette, 50);
  color: mat.get-color-from-palette($my-palette, 700);
}
