<form [formGroup]="postForm" novalidate (ngSubmit)="onSavePost()">
   <!-- POST CARD -->
   <mat-card class="post-form" appearance="outlined">
      <!-- POST HEADER -->
      <mat-card-header>
         <mat-card-title>New Post</mat-card-title>
      </mat-card-header>

      <mat-card-content>
         <div class="row">
            <div class="column">
               <!-- TITLE (title)-->
               <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput type="text" formControlName="title" />
                  <mat-error *ngIf="postForm.controls['title'].hasError('required')"
                     >Please enter a post title</mat-error
                  >
               </mat-form-field>
            </div>
         </div>

         <div class="row">
            <div class="column">
               <!-- AUTHOR (author)-->
               <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Author</mat-label>
                  <input matInput type="text" formControlName="author" />
                  <mat-error *ngIf="postForm.controls['author'].hasError('required')"
                     >Please enter a post title</mat-error
                  >
               </mat-form-field>
            </div>
         </div>

         <div class="row">
            <div class="column">
               <!-- DATE PUBLISHED (datePublished) -->
               <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Date Published</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="datePublished" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="postForm.controls['datePublished'].hasError('required')"
                     >Please enter a date.</mat-error
                  >
               </mat-form-field>
            </div>

            <div class="column">
               <!-- CATEGORY (category) -->
               <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Category</mat-label>
                  <mat-select formControlName="category">
                     <mat-option *ngFor="let category of categories" [value]="category.value">{{ category.viewValue }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="postForm.controls['category'].hasError('required')"
                     >Please provide a category.</mat-error
                  >
               </mat-form-field>
            </div>
         </div>

         <div class="row">
            <div class="column">
               <!-- BODY (body)-->
               <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Content</mat-label>
                  <textarea matInput rows="6" formControlName="body"></textarea>
                  <mat-error *ngIf="postForm.controls['body'].hasError('required')">Post description.</mat-error>
               </mat-form-field>
            </div>
         </div>
      </mat-card-content>

      <mat-card-actions class="card-actions">
         <button mat-flat-button color="primary" type="submit" [disabled]="!postForm.valid">Add Post</button>
         <button mat-flat-button color="warn" type="button">Clear Form</button>
      </mat-card-actions>
   </mat-card>
</form>
