<div class="project-carousel-container">
  <div class="project-carousel-wrapper">
    <div class="project-carousel-item">
      @for (project of projects(); track project._id) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ project.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button matButton [routerLink]="['/projects', project._id]">OPEN</button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
  <!-- navigation buttons -->
  <button
    mat-icon-button
    class="carousel-nav-button prev"
    (click)="previousSlide()"
    title="Previous Slide">
    <mat-icon aria-hidden="true">chevron_left</mat-icon>
  </button>

  <button mat-icon-button class="carousel-nav-button next" (click)="nextSlide()" title="Next Slide">
    <mat-icon aria-hidden="true">chevron_right</mat-icon>
  </button>
</div>
