<div class="project-carousel-container" aria-label="Project Carousel">
  <div
    #projectCarouselWrapper
    class="project-carousel-wrapper"
    role="region"
    aria-roledescription="carousel">
    <div class="project-carousel-items" role="list">
      <ng-container *ngFor="let project of projects(); trackBy: trackById">
        <div class="project-carousel-item" role="listitem" tabindex="0">
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ project.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
              <button
                matButton
                [routerLink]="['/projects', project._id]"
                aria-label="Open {{ project.title }}">
                OPEN
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>

  <button
    mat-icon-button
    class="carousel-nav-button prev"
    (click)="previousSlide()"
    title="Previous Slide"
    aria-label="Previous Slide">
    <mat-icon aria-hidden="true">chevron_left</mat-icon>
  </button>

  <button
    mat-icon-button
    class="carousel-nav-button next"
    (click)="nextSlide()"
    title="Next Slide"
    aria-label="Next Slide">
    <mat-icon aria-hidden="true">chevron_right</mat-icon>
  </button>
</div>
