.project-carousel-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.project-carousel-wrapper {
  overflow-x: auto;
  scrollbar-width: none; // hide scrollbar for Firefox
  -ms-overflow-style: none; // hide scrollbar for Internet Explorer and Edge
  scroll-behavior: smooth; // smooth scrolling for navigation

  // Hide scrollbar for Chrome, Safari, Opera, and Edge (Webkit browsers)
  &::-webkit-scrollbar {
    display: none;
  }
}

.project-carousel-wrapper::-webkit-scrollbar {
  display: none; // hidesrollbar for Chrome, Safarim and Opera
}

.project-carousel-items {
  display: flex;
}

.project-carousel-item {
  flex: 0 0 auto; // prevent shrinking and growing
  width: 350px; // adjust item width as needed
  margin-right: 16px; // space between items
}

.carousel-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
