@use 'sass:map';
@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .mat-mdc-card {
      color: mat.get-color-from-palette($primary-palette, 500);
   }
}

// typography mixin
@mixin typography($theme) {
   // get the typography config from the theme.
   $typography-config: mat.get-typography-config($theme);

   .recent-projects {
      font-family: mat.font-family($typography-config);
   }
}

// theme mixin
@mixin theme($theme) {
}
