<div class="container">

  <header class="banner-background">

    <div class="banner-section">
      <div class="banner-text">
        <h1 class="banner-title">Greg Wiley</h1>
        <h2 class="banner-subtitle">Web App Developer</h2>
        <a mat-flat-button color="primary" routerLink="/about" class="button">About Me</a>
        <a mat-flat-button color="primary" routerLink="/blog">My Blog</a>
      </div>
    </div>

  </header>

  <main class="main-content">

    <div>
      <p class="main-text">The project cards will go here... at some point.</p>
    </div>

  </main>

</div>

<app-footer></app-footer>
