.header-background {
  background-image: url(../../../assets/images/banner_image.jpg);
  background-size: 600px;
  background-repeat: no-repeat; // notes
  background-position: 80% 20px;
  opacity: 0.2;
}

