<app-navbar />
<app-announcement-banner />
<app-auth-status/>
<header focusOnNavigation class="header-background" aria-label="home-page-header">
   <!-- header section-->
   <div class="header-section">
      <div class="header-headline">
         <h1>Gregory Wiley</h1>
         <h2>Web App Developer</h2>
      </div>
      <div class="header-start">
         <a mat-raised-button class="header-button" routerLink="/about">About</a>
      </div>
   </div>
</header>

<main class="home-page-container"></main>

<app-footer />
