<header role="banner">
  <app-navbar></app-navbar>
</header>

<section aria-label="Hero Section">
  <app-hero></app-hero>
</section>

<app-menu></app-menu>

<main class="home-page-container" role="main" aria-label="Homepage Main Content">
  <h1 class="title">Freatured Projects</h1>
  <p class="welcome-text">Welcome to my website. I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of. Many of them are open-source, so if you see something that piques your interest, check out the code and contribute if you have ideas for how it can be improved.</p>

  <app-project-carousel [projects]="(featuredProjects$ | async) ?? []"></app-project-carousel>
</main>

<app-footer></app-footer>
