@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .navbar {
      color: mat.get-theme-color($theme, secondary, 90);
      background-color: mat.get-theme-color($theme, primary, 80);
   }

   .navbar-header a {
      color: aliceblue;
   }

   .logo {
      background-color: aliceblue;
   }
}

// typography mixin
@mixin typography($theme) {
   .navbar-header {
      font: mat.get-theme-typography($theme, display-medium);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}
