.navbar {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 8px 16px;
}

// controls the size of the app logo and the github logo
.github-logo,
app-logo {
   margin-right: 12px;
   width: 25px;
   height: 25px;
}

// sets up space between navbar
.flex-spacer {
   flex: 1 1 auto;
}

// does not display github logo on large screen
.navbar-show-small {
   display: none;
}

// rules for when the device is detected to be on a small screen
@media (max-width: 720px) {
   .navbar-hide-small {
      display: none;
   }

   .navbar-show-small {
      display: block;
   }

   .github-logo {
      margin: 0;
   }
}
