@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
   $color-config: mat.get-color-config($theme);

   $primary-palatte: map.get($color-config, 'primary');

   .popup {
      background-color: mat.get-color-from-palette($primary-palette, 500);
   }
}

