<form [formGroup]="projectForm" novalidate (ngSubmit)="onSaveProject()" aria-label="Project Form">
  <mat-card class="project-form" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ mode === 'create' ? 'New Project' : 'Edit Project' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- title -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Project Title</mat-label>
        <input
          matInput
          type="text"
          formControlName="title"
          title="Project Title"
          aria-describedby="title-error" />
        @if (this.projectForm.controls['title'].hasError('required')) {
        <mat-error id="title-error" aria-live="polite">Please provide a project title.</mat-error>
        }
      </mat-form-field>
      <div class="row">
        <div class="col">
          <!-- project status -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Project Status</mat-label>
            <mat-select formControlName="status" aria-describedby="status-error">
              @for (status of statuses; track status) {
              <mat-option [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
              }
            </mat-select>
            @if (this.projectForm.controls['status'].hasError('required')) {
            <mat-error id="status-error" aria-live="polite"
              >Please select a project status.</mat-error
            >
            }
          </mat-form-field>
        </div>
        <div class="col">
          <!-- project category -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              @for (category of categories; track category) {
              <mat-option [value]="category.value">{{ category.viewValue }}</mat-option>
              }
            </mat-select>
            @if (this.projectForm.controls['category'].hasError('required')) {
            <mat-error aria-live="polite">Please select a project category.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- startDate -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate"
              title="Start Date"
              aria-describedby="startDate-error" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (this.projectForm.controls['startDate'].hasError('required')) {
            <mat-error id="startDate-error" aria-live="polite"
              >Please provide a project start date.</mat-error
            >
            }
          </mat-form-field>
        </div>
        <div class="col">
          <!-- programming language -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Programming Language</mat-label>
            <mat-select formControlName="programmingLanguage">
              @for (language of languages; track language) {
              <mat-option [value]="language.value">{{ language.viewValue }}</mat-option>
              }
            </mat-select>
            @if (this.projectForm.controls['programmingLanguage'].hasError('required')) {
            <mat-error aria-live="polite">Please select a programming language.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- github url -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>GitHub URL</mat-label>
            <input
              matInput
              type="url"
              formControlName="gitUrl"
              title="GitHub Url"
              aria-describedby="github-url-error" />
            @if (this.projectForm.controls['gitUrl'].hasError('required')) {
            <mat-error id="github-url-error" aria-live="polite"
              >Please enter a project category.</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- description -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              rows="6"
              formControlName="description"
              title="Description"
              aria-describedby="description-error"></textarea>
            @if (this.projectForm.controls['description'].hasError('required')) {
            <mat-error id="description-error" aria-live="polite"
              >Please provide a project description.</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      @if (this.mode === 'create') {
      <button
        matButton="filled"
        type="submit"
        (click)="onSaveProject()"
        aria-label="Create Project">
        Create
      </button>
      } @else {
      <button
        matButton="filled"
        type="submit"
        (click)="onSaveProject()"
        aria-label="Update Project">
        Update
      </button>
      }
      <button matButton="outlined" type="button" (click)="onCancel()" aria-label="Cancel">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
