.project-form {
  border-radius: 10px;
  box-shadow: none;
  border: 0.5px solid rgb(193, 193, 193);
  padding: 2rem;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

/* FLEX PROPERTIES */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
