.hero-container {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-image: url(../../../assets/images/sign_in_graphic.jpg);
  background-size: cover;
  background-position: bottom;
  height: 300px;
}

.title {
  font: var(--mat-sys-headline-large);
}

.subtitle {
  font: var(--mat-sys-headline-small);
}

// action container spacing
.hero-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

@media (max-width: 600px) {
  .hero-container {
    height: auto;
    padding: 1rem 0.5rem;
  }
  .hero-image {
    width: 48px;
    height: 38px;
  }
}
