<mat-card class="project-details">
	<mat-list>
		<mat-list-item>
			<p>{{ project.status }}</p>
		</mat-list-item>

		<mat-divider></mat-divider>

		<mat-list-item>
			<p>{{ project.category }}</p>
		</mat-list-item>

		<mat-divider></mat-divider>

		<mat-list-item>
			<p>{{ project.language }}</p>
		</mat-list-item>

		<mat-divider></mat-divider>

		<mat-list-item>
			<p>{{ project.startDate | date }}</p>
		</mat-list-item>

		<mat-divider></mat-divider>

		<mat-list-item>
			<p>{{ project.updatedAt | date }}</p>
		</mat-list-item>
	</mat-list>
</mat-card>
