@use "@angular/material" as mat;

$my-palette: mat.define-palette(mat.$blue-palette);

.project-details {
	background-color: mat.get-color-from-palette($my-palette, 50);
	color: mat.get-color-from-palette($my-palette, 600);
	box-shadow: none;
}
