<mat-list class="project-details">
	<div mat-subheader>Project Details</div>

	<mat-divider></mat-divider>

	<mat-list-item>
		<div matListItemLine>Project Status</div>
		<div matListItemMeta><strong>{{ project.status }}</strong></div>
	</mat-list-item>

	<mat-list-item>
		<div matListItemLine>Project Category</div>
		<div matListItemMeta><strong>{{ project.category }}</strong></div>
	</mat-list-item>

	<mat-list-item>
		<div matListItemLine>Programming Language</div>
		<div matListItemMeta><strong>{{ project.language }}</strong></div>
	</mat-list-item>

	<mat-list-item>
		<div matListItemLine>Start Date</div>
		<div matListItemMeta><strong>{{ project.startDate | date }}</strong></div>
	</mat-list-item>

	<mat-list-item>
		<div matListItemLine>Last Updated</div>
		<div matListItemMeta><strong>{{ project.updatedAt | date }}</strong></div>
	</mat-list-item>

</mat-list>
