@use '../../../styles/helpers/constants';

.project-details {
  margin: constants.$margin;
  padding: 1.5rem;
  // border-style: constants.$border-style;
  border-width: constants.$border-width;
  border-radius: constants.$border-radius;
}
