.project-details-content {
  max-width: 1200px;
  margin: auto;
}

.project-description {
  margin-top: 1rem;
  box-shadow: none;
  border: 0.5px gainsboro solid;
}

.project-details {
  margin-top: 1rem;
  box-shadow: none;
  border: 0.5px gainsboro solid;
  background-color: #E3F2FD;
}

.project-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
