@use 'sass:map';
@use '@angular/material' as mat;

$theme: mat.define-palette(mat.$cyan-palette);

// accepts the theme as an agrument
@mixin color($theme) {
   // get the color config from the theme - returns a sass map
   $color-config: mat.get-color-config($theme);

   // get the primary color palette from the color-config
   $primary-palette: map.get($color-config, 'primary');

   .header {
      // read the 900 hue from the primary color palette
      color: mat.get-color-from-palette($theme, 900);
      // set background color
      background-color: mat.get-color-from-palette($theme, 900);
   }
}

// create a typography mixin
@mixin typography($theme) {
   // get the typography config from the theme.
   $typography-config: mat.get-typography-config($theme);

   .header {
      font-family: mat.font-family($typography-config);
   }
}

// add a theme mixin that includes both color and typography
@mixin theme($theme) {
   $color-config: mat.get-color-config($theme);
   @if $color-config != null {
      @include color($theme);
   }

   $typography-config: mat.get-typography-config($theme);
   @if $typography-config != null {
      @include typography($theme);
   }
}
