<mat-toolbar color="primary">
	<a mat-icon-button routerLink="/" aria-label="menu icon">
		<mat-icon>code</mat-icon>
	</a>

	<span class="header-text">gregwiley.dev</span>

	<span class="spacer"></span>

	<!-- AUTH -->
	<ng-container *ngIf="auth.user | async as user; else showSignIn">
		<button mat-button color="accent">{{ user.displayName }}</button>
		<button mat-flat-button color="warn" (click)="onClickSignOut()">Sign Out</button>
	</ng-container>
	<ng-template #showSignIn>
		<a mat-button routerLink="/signin">Sign In</a>
	</ng-template>

</mat-toolbar>
