.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
  border-radius: 0%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.toolbar {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  position: sticky;
  top: 0;
  z-index: 1;
}

// Flexbox properties
.spacer {
  flex: 1 1 auto;
}
