@use '../../../../styles/helpers/constants';

.blog-page-container {
   max-width: 1400px; // contrains the widht to 1400 pixels
   margin: auto; // centers the content on the page
   display: flex;
   flex-direction: row;
   min-height: 100vh;
}

.post-list {
   flex-basis: 70%;
}

.recent-posts {
   flex-basis: 30%;
}
