@use '@angular/material' as mat;

// include the base core styles only once
@include mat.core();

// define the palettes for your light and dark themes.
// Using the pre-built palettes as an example
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palette);

$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-warn: mat-define-palette(mat.$red-palette);

// create the theme objects
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// apply the light theme by default
@include mat.all-component-themes($light-theme);

// apply the dark theme only when the '.dark-theme' class is present
.dark-theme {
  // use the color-only mixins to avoid duplicating structural styles
  @include mat.all-component-colors($dark-theme);
}

// ensure the app background reflects the theme
body {
  &.dark-theme {
    background-color: #303030;
  }
  &.light-theme {
    background-color: #fafafa;
  }
}
