@use 'sass:map';
@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .recent-posts {
      color: mat.get-color-from-palette($primary-palette, 900);
      background-color: mat.get-color-from-palette($primary-palette, 50);
   }
}

// typography mixin
@mixin typography($theme) {
   .recent-posts {
      font: mat.font-family($typography-config);
   }
}

// theme mixi
@mixin theme($theme) {
   $color-config: mat.get-color-config($theme);
   @if $color-config != null {
      @include color($theme);
   }

   $typography-config: mat.get-typography-config($theme);
   @if $typography-config != null {
      @include typography($theme);
   }
}
