@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .project-card {
      color: mat.get-theme-color($theme, primary, 70);
      background-color: mat.get-theme-color($theme, primary, 100);
      // border-color: mat.get-theme-color($theme, primary, 30);
   }

   .project-card:hover {
      background-color:  mat.get-theme-color($theme, primary, 10);
   }
}

// typography mixin
@mixin typography($theme) {
   .project-card {
      font: mat.get-theme-typography($theme, body-small);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}
