.grid-container {
  max-width: 1400px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  // background-color: aqua;
}

.project-card {
  position: absolute; // 
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 1rem;

  box-shadow: none;
  border: 1px solid gainsboro;
  border-radius: 15px;
}

.spacer {
  flex: 1 1 auto;
}
