<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
   @for (project of projects; track project) {
   <mat-grid-tile [colspan]="colspan" [rowspan]="rowspan">
      <mat-card class="project-card" appearance="outlined">
         <mat-card-header>
            <mat-card-title>{{ project.title }}</mat-card-title>
            <mat-card-subtitle>{{ project.category | titlecase }}</mat-card-subtitle>
         </mat-card-header>

         <span class="spacer"></span>

         <mat-card-actions>
            <a mat-flat-button routerLink="/projects/{{ project._id }}">OPEN</a>
         </mat-card-actions>
      </mat-card>
   </mat-grid-tile>
   } @empty {
   <mat-card>
      <mat-card-content>
         <p>No Projects Found.</p>
      </mat-card-content>
   </mat-card>
   }
</mat-grid-list>
