<mat-card class="project-actionbar">
   <div class="flex-container">
      <button mat-icon-button (click)="(onDeleteProject)" color="warn" aria-label="Delete a project">
         <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="(onUpdateProject)" color="accent" aria-label="Edit a project">
         <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="(favoriteProject)" color="primary" aria-label="Favorite a project" disabled>
         <mat-icon>favorite</mat-icon>
      </button>
   </div>
</mat-card>
