@use '../../../../styles/helpers/constants';

.project-details-page-container {
   max-width: constants.$max-width;
   margin: auto;
   min-height: 100vh;
   display: flex;
   flex-direction: row;
}

.project-description-container {
   flex-basis: 70%;
   max-width: 70%;
}

.project-details-container {
   flex-basis: 30%;
   max-width: 30%;
}
