<app-header></app-header>
<app-announcement-banner></app-announcement-banner>

<mat-grid-list class="container" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">

  <mat-grid-tile [colspan]="colspan">
    <mat-card class="project-description">
      <mat-card-header>
        <mat-card-title>{{ project.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>{{ project.description }}</p>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile >
    <app-project-details class="project-details"></app-project-details>
  </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
