<div class="about-page-container">
  <header>
    <h2>About Me</h2>
  </header>

  <section class="container">

    <main class="about-me-text">
      <p>
        Ut porttitor leo a diam sollicitudin tempor id eu. Porttitor rhoncus
        dolor purus non enim praesent elementum. Tincidunt nunc pulvinar sapien
        et ligula ullamcorper. Non arcu risus quis varius quam quisque id.
        Habitant morbi tristique senectus et netus. Eget dolor morbi non arcu
        risus. Neque viverra justo nec ultrices dui sapien eget mi proin. Morbi
        tincidunt augue interdum velit euismod in pellentesque massa placerat.
        Pulvinar proin gravida hendrerit lectus. Maecenas volutpat blandit
        aliquam etiam erat velit scelerisque in. Tempus egestas sed sed risus
        pretium quam vulputate dignissim. Scelerisque in dictum non consectetur
        a erat nam. Et magnis dis parturient montes. Quam lacus suspendisse
        faucibus interdum posuere. Ut consequat semper viverra nam libero justo
        laoreet. Nibh sed pulvinar proin gravida. Placerat in egestas erat
        imperdiet sed euismod.
      </p>
    </main>

    <aside>
      <mat-card class="technical-skills">

        <mat-list dense>
          <mat-list-item>
            <h3 mat-line><strong>Status</strong></h3>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <h3 mat-line><strong>Category</strong></h3>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <h3 mat-line><strong>Language</strong></h3>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <h3 mat-line><strong>Start Date</strong></h3>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <h3 mat-line><strong>Lasted Updated</strong></h3>
          </mat-list-item>
        </mat-list>

      </mat-card>
    </aside>

  </section>
</div>
