.signin-page-container {
  background: var(--mat-sys-primary-container);
  background-image: url(../../../assets/images/sign_in_graphic.jpg);
  background-size: cover;
  background-position: center;
  color: var(--mat-sys-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-form {
  max-width: 90%;
  width: 400px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.85); // white with 85% opacity
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15); // optional for depth
}

.full-width {
  width: 100%;
  margin: 0.4rem 0;
}

.sign-in-button {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.title-text {
  text-align: center;
  font: var(--mat-sys-label-large, 'Arial', sans-serif);
}

.forgot-password {
  font: var(--mat-sys-label-large);
  color: var(--mat-sys-primary);
  text-align: center;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
  }
}

// reduces padding on smaller screens for better mobile usability
@media (max-width: 500px) {
  .signin-form {
    padding: 1rem;
    width: 100%;
  }
}
