.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url(../../../assets/images/banner_image.jpg);
  background-size: cover;
  background-position: center;
  // opacity: 0.9;
}


.signin-form {
  max-width: 350px;
  border-radius: 10px;
  // box-shadow: none;
  // border: 0.5px solid rgb(193, 193, 193);
  padding: 2.5rem;
}

.full-width {
  width: 100%;
  margin: 0.4rem 0;
}

mat-card-title,
mat-card-subtitle {
  text-align: center;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
