<main class="signin-page-container" aria-label="Sign In Page">
  <mat-card class="signin-form" appearance="raised">
    <!-- title text -->
    <div class="title-text">
      <h3 class="mat-headline-4">Sign In</h3>
      <h4 class="mat-body-2">Please sign in to your account.</h4>
    </div>
    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmitSignIn()">
        <!-- email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="name@example.com"
            autocomplete="username"
            aria-describedby="email-errors" />
          @if (formControls['email'].hasError('required')) {
          <mat-error id="email-required">Please enter your email address.</mat-error>
          } @if (formControls['email'].hasError('email')) {
          <mat-error id="email-invalid">Invalid email format.</mat-error>
          }
        </mat-form-field>

        <!-- password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
            autocomplete="current-password"
            aria-describedby="password-errors" />
          @if (formControls['password'].hasError('required')) {
          <mat-error id="password-required">Please enter your password.</mat-error>
          } @if (formControls['password'].hasError('minlength')) {
          <mat-error id="password-invalid">Your password must be at least 6 characters.</mat-error>
          }
        </mat-form-field>

        <mat-card-actions>
          <button
            mat-flat-button
            class="sign-in-button"
            type="submit"
            [disabled]="signinForm.invalid || isLoading">
            SIGN IN
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</main>
