<mat-card class="project-card">
	<mat-card-header>
		<mat-card-title>{{ project.title }}</mat-card-title>
		<mat-card-subtitle>{{ project.category }}</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
		<p>{{ project.description | simpletruncate }} </p>
	</mat-card-content>

	<mat-card-actions>
		<a mat-button color="primary" routerLink="/projects/{{ project._id }}">VIEW</a>

		<span class="spacer"></span>

		<a mat-icon-button color="primary" href="{{ project.gitUrl }}" disabled>
			<mat-icon>code</mat-icon>
		</a>
	</mat-card-actions>
</mat-card>
