$vertical-spacing: 64px;
$horizontal-spacing: 32px;

main {
  min-height: 100vh;
  font-size: 1.25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $vertical-spacing;
}

svg {
  height: 300px;
  max-width: 100%;
  margin-right: $horizontal-spacing;
}

// find out what '+' means
a + a {
  margin-left: 16px;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
  }

  svg {
    height: auto;
    max-height: 300px;
    margin-right: 0;
    margin-bottom: $vertical-spacing;
  }
}
