/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

body {
	margin: 0;
	--webkit-appearance: none;
	background-color: mat.get-color-from-palette($light-accent, default);
	color: mat.get-contrast-color-from-palette($light-accent, default);
	font-family: "Open Sans", sans-serif;
}
