@use "@angular/material" as mat;

// define the palettes for your theme
// define light primary color
$light-primary: mat.define-palette(
	mat.$light-blue-palette,
	$default: 900,
	$lighter: 100,
	$text: 900
);

// define light accent color
$light-accent: mat.define-palette(
	mat.$grey-palette,
	$default: A200,
	$lighter: 100,
	$text: 900
);

// define light warn color
// The warn palette is optional
$light-warn: mat.define-palette(
	mat.$red-palette,
	$default: A100,
	$lighter: 100,
	$text: 900
);

// define dark primary color
$dark-primary: mat.define-palette(
	mat.$light-green-palette,
	$default: A100,
	$lighter: 50,
	$text: 900
);
// define light accent color
$dark-accent: mat.define-palette(
	mat.$indigo-palette,
	$default: 600,
	$lighter: 500
);

// CUSTOM TOPOGRAPGY
$custom-typography: mat.define-typography-config(
	$font-family:
);

// define the light theme
$light-theme: mat.define-light-theme(
	(
		color: (
			primary: $light-primary,
			accent: $light-accent,
			warn: $light-warn,
		),
	)
);

// define the dark theme
$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $dark-primary,
			accent: $dark-accent,
		),
	)
);

@include mat.core();
@include mat.core-theme($light-theme);
@include mat.all-component-themes($light-theme);
@include mat.all-component-typographies($light-theme);

.dark-theme {
	@include mat.core-color($dark-theme);
	@include mat.all-component-themes($dark-theme);
}

body {
	margin: 0;
	--webkit-appearance: none;
	background-color: mat.get-color-from-palette($light-accent, default);
	color: mat.get-contrast-color-from-palette($light-accent, default);
	font-family: "Open Sans", sans-serif;
}

.dark-theme body {
	background-color: mat.get-color-from-palette($dark-accent, default);
	color: mat.get-contrast-color-from-palette($dark-accent, default);
}
