table {
  width: 100%;
}

tr.project-detail-row {
  height: 0;
}

tr.project-row:not(.project-row):hover {
  background: whitesmoke;
}

tr.project-row:not(.project-row):active {
  background: #efefef;
}

.project-row td {
  border-bottom-width: 0;
}

.project-detail {
  overflow: hidden;
  display: flex;
}

.project-description {
  padding: 16px;
}

.project-description-attribution {
  opacity: 0.5;
}
