.container {
 width: 100%;
 padding-right: calc(1.5rem * .5);
 padding-left: calc(1.5rem * 5);
 margin-right: auto;
 margin-left: auto;
 background-color: aquamarine;
}


.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-top: 1px solid gray;
}

