<footer class="footer">
   <div class="footer-content">
      <div class="footer-copyright">
         <a href="/" class="footer-link">
            <img src="../../../assets/logos/cube-svgrepo-com.svg" alt="logo" width="30px" height="30px" />
         </a>
         <span>&copy; {{ year }} Gregory Wiley</span>
      </div>

      <!-- footer logos -->
      <div class="footer-logos">
         <span>Built with Angular</span>
         <a href="https://angular.io/" target="_blank" rel="noopener">
            <img src="../../../assets/logos/angular-logo.svg" alt="logo" width="30px" height="30px" />
         </a>
      </div>
   </div>
</footer>
