<footer class="footer-section">
  <div class>
    <p class="footer-text">This site is currently under construction.</p>
    <p class="footer-text">
      Designed and developed by Greg Wiley. Copyright {{ year }}
    </p>
    <p class="footer-text">
      gregwiley.dev is powered by Angular - Version: {{ version }}
    </p>
  </div>
</footer>

<!-- FOOTER EXAMPLE FROM BOOTSTRAP -->

<div class="container">
  <footer class="#">
    <div>
      <a href="/">
        <svg class="" width="30" height="24">
          <use />
        </svg>
      </a>
      <span>&copy; 2023 Company, Inc</span>
    </div>

    <ul>
      <li>
        <a>
          <svg>
            <use />
          </svg>
        </a>
      </li>

      <li>
        <a>
          <svg>
            <use />
          </svg>
        </a>
      </li>

      <li>
        <a>
          <svg>
            <use />
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</div>
