.post-create-page-container {
   max-width: 1400px;
   margin: auto;
   display: flex;
   flex-direction: row;
   min-height: 100vh;
}

.post-form {
   flex-basis: 70%;
}

.recent-posts {
   flex-basis: 30%;
}
